<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>licenceConfig</key>
	<dict>
		<key>licenceKey</key>
		<string>...</string>
		<key>licenceUrl</key>
		<string>...</string>
	</dict>
	<key>menuConfig</key>
	<array>
		<dict>
			<key>module</key>
			<array>
				<dict>
					<key>desc</key>
					<string></string>
					<key>class</key>
					<string>TXBasePlayerViewController</string>
					<key>title</key>
					<string>PLAYER-API-Example.Home.BasicPlayer</string>
				</dict>
				<dict>
					<key>desc</key>
					<string></string>
					<key>class</key>
					<string>TXPreDownloadAndPreloadingViewController</string>
					<key>title</key>
					<string>PLAYER-API-Example.Home.PreDownloadAndPreloading</string>
				</dict>
				<dict>
					<key>desc</key>
					<string></string>
					<key>class</key>
					<string>TXSetSpeciResolutionViewController</string>
					<key>title</key>
					<string>PLAYER-API-Example.Home.SetSpeciResolution</string>
				</dict>
				<dict>
					<key>desc</key>
					<string></string>
					<key>class</key>
					<string>TXControlPanelViewController</string>
					<key>title</key>
					<string>PLAYER-API-Example.Home.ControlPanel</string>
				</dict>
				<dict>
					<key>desc</key>
					<string></string>
					<key>class</key>
					<string>TXVideoDownloadViewController</string>
					<key>title</key>
					<string>PLAYER-API-Example.Home.VideoDownload</string>
				</dict>
				<dict>
					<key>desc</key>
					<string></string>
					<key>class</key>
					<string>TXSetStartTimeViewController</string>
					<key>title</key>
					<string>PLAYER-API-Example.Home.SetStartTime</string>
				</dict>
			</array>
			<key>type</key>
			<string>PLAYER-API-Example.Home.FunctionsZone</string>
		</dict>
		<dict>
			<key>module</key>
			<array>
				<dict>
					<key>desc</key>
					<string></string>
					<key>class</key>
					<string>ShortVideoPlayViewController</string>
					<key>title</key>
					<string>PLAYER-API-Example.Home.ShortVideoPlay</string>
				</dict>
			</array>
			<key>type</key>
			<string>PLAYER-API-Example.Home.ScenesZone</string>
		</dict>
	</array>
</dict>
</plist>
